{{ form_start(form) }}
<div class="col-sm-10">
    <li>Nom</li>
    {{ form_widget(form.name) }}
</div>
<div class="col-sm-10">
    <li>Couleur</li>
    {{ form_widget(form.color) }}
</div>
<div class="col-sm-10">
    <li>Appellation</li>
    {{ form_widget(form.appellation) }}
</div>
<div class="col-sm-10">
    <li>Viticulture</li>
    {{ form_widget(form.winegrowing) }}
</div>
<hr>
<div class="col-sm-10">
    <li>Cépages</li>
    {{ form_widget(form.grapes) }}
</div>

<div class="col-sm-10">
    <li>Caractéristiques</li>
    {{ form_widget(form.features) }}
</div>
<div class="col-sm-10">
    <li>Associations</li>
    {{ form_widget(form.pairings) }}
</div>
<hr>
<div class="col-sm-10">
        {{ form_row(form.minYear) }}
</div>
<div class="col-sm-10">
    {{ form_row(form.maxPrice) }}
</div>
<div class="col-sm-10">
    {{ form_row(form.isStock) }}
</div>
{{ form_rest(form) }}

<div class="col">
    <div class="form-groupe">
        <button class="btn btn-primary">Rechercher</button>
    </div>
</div>
{{ form_end(form) }}
</ul>
