<div class="card mb-4">
    {% if wine.filename %}
        <img src="{{ vich_uploader_asset(wine, 'imageFile') | imagine_filter('thumb') }}" alt="card-img-top"
             >
    {% else %}
        <img src="{{ '/images/wines/empty.jpg' }}" alt="card-img-top"
             style="width: 100%; height: auto">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">
            <a href="{{ path('wine.show', {slug: wine.slug, id: wine.id}) }}">
                {{ wine.name }}
            </a>
        </h5>
      <p class="card-text">{{ wine.appellation.name }} {{ wine.year }}</p>

        <img src="{{ './images/wines/' ~ wine.color ~ '.jpg' }}" alt="card-img-top"
             style="width: 10%; height: auto">
        <a href="{{ path('stock.movement',{id: wine.id}) }}" class="btn btn-default">Ajouter-Déguster ce vin</a>

        <div class="text-primary" style="font-size:2rem; font-weight: bold;">
            {#  {{ wine.formattedPrice }} €#}
        </div>
    </div>
</div>
