<div class="card mb-4">
  {% if wine.filename %}
    <img src="{{ vich_uploader_asset(wine, 'imageFile') | imagine_filter('thumb') }}" alt="card-img-top" style="width: 100%; height: auto">
  {% else %}
    <img src="{{ '/images/wines/empty.jpg' | imagine_filter('thumb') }}" alt="card-img-top" style="width: 100%; height: auto">
  {% endif %}
  <div class="card-body">
  <h5 class="card-title">
  <a href="{{ path('wine.show', {slug: wine.slug, id: wine.id}) }}">
    {{ wine.name }}
  </a>
  </h5>
  <p class="card-text">{{ wine.appellation.name }} {{ wine.year}}</p>
  <div class="text-primary" style="font-size:2rem; font-weight: bold;">
  {{ wine.formattedPrice }} €
</div>
  </div>
</div>
