{% extends 'base.html.twig' %}

{% block title 'Tous les vins' %}
{% block stylesheets %}
    <link href="{{ asset('css/sidebar.css') }}" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">


{% endblock %}
{% block body %}
    <div class="wrapper">

        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3><a href="{{ path('home') }}" class="nav-link">Mes vins</a></h3>
            </div>
            <ul class="list-unstyled components">
                <p><a href="{{ path('wine.index') }}" class="nav-link">Vins en cave</a></p>

                {% if app.user %}
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"
                   class="dropdown-toggle" style="padding-left: 15px">Administration</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="{{ path('admin.wine.index') }}" class="nav-link">Admin</a>
                    </li>
                    <li>
                        <a href="{{ path('appellation.index') }}" class="nav-link">Appellations</a>
                    </li>
                    <li>
                        <a href="{{ path('region.index') }}" class="nav-link">Régions</a>
                    </li>
                    <li>
                        <a href="{{ path('grape.index') }}" class="nav-link">Cépages</a>
                    </li>
                    <li>
                        <a href="{{ path('feature.index') }}" class="nav-link">Caractéristiques</a>
                    </li>
                    <li>
                        <a href="{{ path('pairing.index') }}" class="nav-link">Associations</a>
                    </li>
                    <li>
                        <a href="{{ path('container.index') }}" class="nav-link">Contenants</a>
                    </li>
                    <li>
                        <a href="{{ path('logout') }}" class="nav-link">Se déconnecter</a>
                    </li>
                    {% endif %}
                </ul>
                <li>
                <a href="#searchSubmenu" data-toggle="collapse" aria-expanded="false"
                   class="dropdown-toggle" style="padding-left: 15px">Recherche</a></li>
                <ul class="collapse list-unstyled" id="searchSubmenu">
                {% include'wine/_sidebar_filter.html.twig' %}
                </ul>

            </ul>
            {% if app.user %}
                <div class="col">

                    <a href="{{ path('wine.list') }}" class="btn btn-primary" target="_blank">Imprimer tous les
                        vins</a>
                </div>
            {% endif %}
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-secondary">
                        <i class="fas fa-align-left"></i>
                        <span>Masquer le menu</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>
                    <div class="pagination">
                        {{ knp_pagination_render(wines) }}
                    </div>
                </div>
            </nav>


            <div class="container mt-4">
                <h1>Voir tous les vins</h1>
                <div class="row">
                    {% for wine in wines %}
                        <div class="col-md-4">
                            {% include 'wine/_wine.html.twig' %}
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>
{% endblock %}
