{% extends 'base.html.twig' %}

{% block title wine.name %}


{% block body %}
<div id="content">

    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    {% if wine.filename %}
                        <img src="{{ vich_uploader_asset(wine, 'imageFile') | imagine_filter('thumb') }}"
                             alt="card-img-top" style="width: 100%; height: auto">
                    {% else %}
                        <img src="{{ '/images/wines/empty.jpg' | imagine_filter('medium') }}" alt="card-img-top"
                             style="width: 100%; height: auto">
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <h1>{{ wine.name }} {{ wine.year }}</h1>
                    <h2>{{ wine.appellation.name }}</h2>
                    {# <div class="text-primary" style="font-size: 4rem; font-weight:bold;" >{{ wine.formattedPrice }}</div> #}
                    {# <a href="#" class="btn btn-primary">Contacter???</a>} #}
                </div>
            </div>

        </div>
    </div>
    <div class="container mt-4">

        <p>
            {{ wine.description | nl2br }}
        </p>

        <div class="row">
            <div class="col-md-8">
                <h2>Caractéristiques</h2>
                <table class="table table-striped">


                    <tr>
                        <td>Appellation</td>
                        <td>{{ wine.appellation.name }} ({{ wine.appellation.region.name }})</td>
                    </tr>
                    <tr>
                        <td>Couleur</td>
                        <td>{{ wine.color|trans|capitalize }}</td>
                    </tr>
                    <tr>
                        <td>Alcool</td>
                        <td> {{ wine.alcohol|alcohol }} </td>
                    </tr>
                    <tr>
                        <td>Contenance</td>
                        <td>{{ wine.container.name }}
                            ({{ wine.container.capacity|capacity }} {{ wine.container.unit }})
                        </td>
                    </tr>
                    <tr>
                        <td>Nombre</td>
                        <td>{{ wine.nbbottle }}</td>
                    </tr>
                    <tr>
                        <td>Emplacement</td>
                        <td>{{ wine.location }}</td>
                    </tr>
                    <tr>
                        <td>Producteur (pas encore implémenté)</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Description </td>
                        <td>{{ wine.description }}</td>
                    </tr>
                </table>
            </div>

            <div class="col-md-4">
                <h2>Cépages</h2>
                <ul class="list-group">
                    {% for grape in wine.grapes %}
                        <li class="list-group-item">{{ grape.name }}</li>
                    {% endfor %}
                </ul>
                <h2>Caractéristiques</h2>
                <ul class="list-group">
                    {% for feature in wine.features %}
                        <li class="list-group-item">{{ feature.name }}</li>
                    {% endfor %}
                </ul>

                <h2>Associations</h2>
                <ul class="list-group">
                    {% for pairing in wine.pairings %}
                        <li class="list-group-item">{{ pairing.name }}</li>
                    {% endfor %}
                </ul>

            </div>


        </div>
    </div>
</div>
{% endblock %}
