{% extends 'base.html.twig' %}

{% block title wine.name %}


{% block body %}
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% if wine.filename %}
                    <img src="{{ vich_uploader_asset(wine, 'imageFile') | imagine_filter('medium') }}" alt="card-img-top" style="width: 100%; height: auto">
                {% else %}
                    <img src="{{ '/images/wines/empty.jpg' | imagine_filter('medium') }}" alt="card-img-top" style="width: 100%; height: auto">
                {% endif %}
            </div>
            <div class="col-md-4">
                <h1>{{ wine.name }} {{ wine.year }}</h1>
                <div class="text-primary" style="font-size: 4rem; font-weight:bold;" >{{ wine.formattedPrice }}</div>
                {# <a href="#" class="btn btn-primary">Contacter???</a>} #}
            </div>
        </div>

    </div>
</div>
    <div class="container mt-4">

        <p>
            {{ wine.description | nl2br }}
        </p>

        <div class="row">
            <div class="col-md-8">
                <h2>Caractéristiques</h2>
                <table class="table table-striped">
                    <tr>
                        <td>Nombre (pas encore implémenté)</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Producteur (pas encore implémenté</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Contenance</td>
                        <td>{{ wine.content }} cl</td>
                    </tr>
                    <tr>
                        <td>Alcool</td>
                        <td> {{ wine.alcohol }} %</td>
                    </tr>
                    <tr>
                        <td>Appellation (pas encore implémenté)</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Couleur</td>
                        <td>{{ wine.ColorType }}</td>
                    </tr>

                </table>
            </div>

            <div class="col-md-4">
                <h2>Cépages</h2>
                <ul class="list-group">
                    {% for grape in wine.grapes %}
                        <li class="list-group-item">{{ grape.name }}</li>
                    {% endfor %}
                </ul>
                <h2>Appellation</h2>
                <ul class="list-group">
                    <li class="list-group-item">{{ wine.appellation.name }}</li>
                </ul>

            </div>



        </div>
    </div>
{% endblock %}
