<head>
    <base href="http://127.0.0.1:8000/">
    <link href="../public/css/pdf.css" rel="stylesheet">
    <link href="{{ asset("css/pdf.css") }}" rel="stylesheet" type="text/css">
</head>
{% block content %}
    <h1 align="center">Liste des vins</h1>

    <h3>Nombre total de bouteilles: {{ totalBottles }}</h3>
    <h3>Valeur totale de la cave: {{ totalPrices|price() }} (valeur à l'achat)</h3>


    <h2>France</h2>

    {% for region in regions %}
        {% if region.country == 'region.country.france' %}
            <h3>{{ region.name }}</h3>
            {% include 'wine/_listp.html.twig' %}
        {% endif %}
    {% endfor %}


    <h2>Vins hors de France</h2>
    {% for region in regions %}
        {% if region.country != 'region.country.france' %}
            {% if region.appellations|length > 0 %}
                <h3>{{ region.name }} ({{ region.country|trans }})</h3>
                {% include 'wine/_listp.html.twig' %}
            {% endif %}
        {% endif %}
    {% endfor %}

    {#
    <h2>Vins hors de France</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Millésime</th>
            <th>Appellation</th>
            <th>Couleur</th>
            <th>Qté</th>
        </tr>
        </thead>
        <tbody>
        {% for wine in wines|sort((a, b) => a.name <=> b.name) %}
            {% if wine.appellation.region.country != 1 %}
                <tr>
                    <td>{{ wine.name }}</td>
                    <td>{{ wine.year }}</td>
                    <td>{{ wine.appellation.name }}</td>
                    <td><img src="{{ './images/wines/' ~ wine.color ~ '.jpg' }}" alt="card-img-top"
                             style=" height: 35px; width: auto"></td>
                    <td>{{ wine.nbbottle }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>#}

{% endblock %}
