{% extends 'base.html.twig' %}

{% block title 'Gérer les associations' %}

{% block body %}
    <div id="content">
        <div class="container mt-4">

            <h1>Gérer les associations</h1>

            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            <div class="div text-right">
                <a href="{{ path('pairing.new') }}" class="btn btn-primary">Créer une nouvelle association</a>
            </div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Nom de l'association</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for pairing in pairings %}
                    <tr>
                        <td>{{ pairing.name }} </td>
                        <td>
                            <a href="{{ path ('pairing.edit', {id: pairing.id}) }}" class="btn btn-secondary">Editer</a>
                            <form method="post" action="{{ path('pairing.delete', {id: pairing.id}) }}"
                                  style="display: inline-block" onsubmit="return confirm('Êtes-vous certain?')">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pairing.id) }}">
                                <button class="btn btn-danger">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>


{% endblock %}
