{{ form_start(form) }}
<div class="row">
    <div class="col-md-4">{{ form_row(form.name) }}</div>
    <div class="col-md-4">{{ form_row(form.year) }}</div>
</div>
<div class="row">
    <div class="col-md-2"> {{ form_row(form.appellation)  }} </div>
    <div class="col-md-2">{{ form_row(form.color) }}</div>
    <div class="col-md-2"> {{ form_row(form.container) }}</div>
    <div class="col-md-2">{{ form_row(form.alcohol) }}</div>
</div>
<div class="row">
    <div class="col-md-2">{{ form_row(form.imageFile) }}</div>
    <div class="col-md-3">{{ form_row(form.grapes) }}</div>
    <div class="col-md-5">{{ form_row(form.stock) }}</div>
</div>
{{ form_rest(form) }}
<button class="btn btn-primary">{{ button|default('Enregistrer')}}</button>
{{ form_end(form) }}