{% extends 'base.html.twig' %}

{% block title 'Gérer les appellations'%}

{% block body %}
<div id="content">
    <div class="container mt-4">

        <h1>Gérer les appellations</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <div class="div text-right">
            <a href="{{ path('appellation.new') }}" class="btn btn-primary">Créer une nouvelle appellation</a>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <h2><a href="#France">France</a> - <a href="#Italie">Italie</a> - <a href="#Espagne">Espagne</a></h2>
            <h3>Alsace</h3>
            {% for appellation in appellation %}
                {% if appellation.region.name == 'Alsace' %}
                    {{ include ('appellation/_list.html.twig') }}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <h3>Beaujolais</h3>
            {% for appellation in appellation %}
                {% if appellation.region.name == 'Beaujolais' %}
                    {{ include ('appellation/_list.html.twig') }}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <h3>Bordeaux</h3>
            {% for appellation in appellation %}
                {% if appellation.region.name == 'Bordeaux' %}
                    {{ include ('appellation/_list.html.twig') }}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <h3>Bourgogne</h3>
            {% for appellation in appellation %}
                {% if appellation.region.name == 'Bourgogne' %}
                    {{ include ('appellation/_list.html.twig') }}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <h3>Champagne</h3>
            {% for appellation in appellation %}
                {% if appellation.region.name == 'Champagne' %}
                    {{ include ('appellation/_list.html.twig') }}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <h3>Jura-Savoie</h3>
            {% for appellation in appellation %}
                {% if appellation.region.name == 'Jura-Savoie' %}
                    {{ include ('appellation/_list.html.twig') }}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>


        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <h3>Languedoc-Roussillon</h3>
            {% for appellation in appellation %}
                {% if appellation.region.name == 'Languedoc-Roussillon' %}
                    {{ include ('appellation/_list.html.twig') }}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <h3>Loire</h3>
            {% for appellation in appellation %}
                {% if appellation.region.name == 'Loire' %}
                    {{ include ('appellation/_list.html.twig') }}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <h3>Provence-Corse</h3>
            {% for appellation in appellation %}
                {% if appellation.region.name == 'Provence-Corse' %}
                    {{ include ('appellation/_list.html.twig') }}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <h3>Rhône</h3>
            {% for appellation in appellation %}
                {% if appellation.region.name == 'Rhône' %}
                    {{ include ('appellation/_list.html.twig') }}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <h3>Sud-Ouest</h3>
            {% for appellation in appellation %}
                {% if appellation.region.name == 'Sud-Ouest' %}
                    {{ include ('appellation/_list.html.twig') }}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>


        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <div id="Italie"><h2>Italie</h2></div>
            <h3>Toscane</h3>
            {% for appellation in appellation %}
                {% if appellation.region.name == 'Toscane' %}
                    {{ include ('appellation/_list.html.twig') }}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>




        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <div id="Espagne"><h2>Espagne</h2></div>
            <h3>Andalousie</h3>
            {% for appellation in appellation %}
                {% if appellation.region.name == 'Adalousie' %}
                    {{ include ('appellation/_list.html.twig') }}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <h3>Aragon</h3>
            {% for appellation in appellation %}
                {% if appellation.region.name == 'Aragon' %}
                    {{ include ('appellation/_list.html.twig') }}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>


        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <h3>Catalogne</h3>
            {% for appellation in appellation %}
                {% if appellation.region.name == 'Catalogne' %}
                    {{ include ('appellation/_list.html.twig') }}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>


        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <div id="Chili"><h2>Chili</h2></div>
            <h3>Valle Central</h3>
            {% for appellation in appellation %}
                {% if appellation.region.name == 'Valle Central' %}
                    {{ include ('appellation/_list.html.twig') }}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>



    </div>

</div>

{% endblock %}
