{% extends 'base.html.twig' %}

{% block title 'Gérer les entrées / sorties' %}

{% block body %}
    <div id="content">
        <div class="container mt-4">

            <h1>Gérer les entrées / sorties</h1>

            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for stock in stocks %}
                    <tr>
                        <td>{{ movement.id }} </td>
                        <td>{{ movement.quantity }} </td>
                        <td>
                            <a href="{{ path ('movement.edit', {id: movement.id}) }}" class="btn btn-secondary">Editer</a>
                            <form method="post" action="{{ path('movement.delete', {id: movement.id}) }}"
                                  style="display: inline-block" onsubmit="return confirm('Êtes-vous certain?')">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ movement.id) }}">
                                <button class="btn btn-danger">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>


{% endblock %}
