{% extends 'base.html.twig' %}

{% block title 'Gérer les regions'%}

{% block body %}
    <div class="container mt-4">

        <h1>Gérer les regions</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>

        {% endfor %}


        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th >Actions</th>
            </tr>
            </thead>
            <tbody>
            <h3>France</h3>
            {% for region in regions  %}
                {% if region.country == 1 %}
            <tr>
                <td>{{ region.name }} </td>
                <td>
                    <div class="div text-right">
                    <a href="{{path ('region.edit', {id: region.id}) }}" class="btn btn-secondary">Editer</a>
                    <form method="post" action="{{ path('region.delete', {id: region.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous certain?')">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ region.id) }}">
                        <button class="btn btn-danger">Supprimer</button>
                    </form>
                    </div>
                </td>
            </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>


        <table class="table table-striped">
            <tbody>
            <h3>Italie</h3>
            {% for region in regions  %}
                {% if region.country == 2 %}
                    <tr>
                        <td>{{ region.name }} </td>
                        <td>
                            <div class="div text-right">
                            <a href="{{path ('region.edit', {id: region.id}) }}" class="btn btn-secondary">Editer</a>
                            <form method="post" action="{{ path('region.delete', {id: region.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous certain?')">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ region.id) }}">
                                <button class="btn btn-danger">Supprimer</button>
                            </form>
                            </div>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>


        <table class="table table-striped">
            <tbody>
            <h3>Espagne</h3>
            {% for region in regions  %}
                {% if region.country == 3 %}
                    <tr>
                        <td>{{ region.name }} </td>
                        <td>
                            <div class="div text-right">
                            <a href="{{path ('region.edit', {id: region.id}) }}" class="btn btn-secondary">Editer</a>
                            <form method="post" action="{{ path('region.delete', {id: region.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous certain?')">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ region.id) }}">
                                <button class="btn btn-danger">Supprimer</button>
                            </form>
                            </div>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>


                <div class="div text-right">
            <a href="{{ path('region.new') }}" class="btn btn-primary">Créer une nouvelle region</a>
        </div>
    </div>



{% endblock %}
