{% extends 'base.html.twig' %}

{% block title 'Gérer les régions' %}

{% block body %}
    <div id="content">
        <div class="container mt-4">

            <h1>Gérer les regions</h1>

            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            <div class="div text-right">
                <a href="{{ path('region.new') }}" class="btn btn-primary">Créer une nouvelle region</a>
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for country in countries %}
                    <tr>
                        <td colspan="2">
                            <h3>{{ country.name  }}</h3>
                        </td>
                    </tr>
                    {% for region in country.regions %}
                        {{ include ('region/_list.html.twig') }}
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>

{#            <table class="table table-striped">#}
{#                <thead>#}
{#                <tr>#}
{#                    <th>Nom</th>#}
{#                    <th>Actions</th>#}
{#                </tr>#}
{#                </thead>#}
{#                <tbody>#}
{#                <h3>Italie</h3>#}
{#                {% for region in regions %}#}
{#                    {% if region.country == 'region.country.italy' %}#}
{#                        {{ include ('region/_list.html.twig') }}#}
{#                    {% endif %}#}
{#                {% endfor %}#}
{#                </tbody>#}
{#            </table>#}

{#            <table class="table table-striped">#}
{#                <thead>#}
{#                <tr>#}
{#                    <th>Nom</th>#}
{#                    <th>Actions</th>#}
{#                </tr>#}
{#                </thead>#}
{#                <tbody>#}
{#                <h3>Espagne</h3>#}
{#                {% for region in regions %}#}
{#                    {% if region.country == 'region.country.spain' %}#}
{#                        {{ include ('region/_list.html.twig') }}#}
{#                    {% endif %}#}
{#                {% endfor %}#}
{#                </tbody>#}
{#            </table>#}

{#            <table class="table table-striped">#}
{#                <thead>#}
{#                <tr>#}
{#                    <th>Nom</th>#}
{#                    <th>Actions</th>#}
{#                </tr>#}
{#                </thead>#}
{#                <tbody>#}
{#                <h3>Chili</h3>#}
{#                {% for region in regions %}#}
{#                    {% if region.country == 'region.country.chili' %}#}
{#                        {{ include ('region/_list.html.twig') }}#}
{#                    {% endif %}#}
{#                {% endfor %}#}
{#                </tbody>#}
{#            </table>#}

{#            <table class="table table-striped">#}
{#                <thead>#}
{#                <tr>#}
{#                    <th>Nom</th>#}
{#                    <th>Actions</th>#}
{#                </tr>#}
{#                </thead>#}
{#                <tbody>#}
{#                <h3>Tchéquie</h3>#}
{#                {% for region in regions %}#}
{#                    {% if region.country == 'region.country.czechia' %}#}
{#                        {{ include ('region/_list.html.twig') }}#}
{#                    {% endif %}#}
{#                {% endfor %}#}
{#                </tbody>#}
{#            </table>#}

{#            <table class="table table-striped">#}
{#                <thead>#}
{#                <tr>#}
{#                    <th>Nom</th>#}
{#                    <th>Actions</th>#}
{#                </tr>#}
{#                </thead>#}
{#                <tbody>#}
{#                <h3>Hongrie</h3>#}
{#                {% for region in regions %}#}
{#                    {% if region.country == 'region.country.hungary' %}#}
{#                        {{ include ('region/_list.html.twig') }}#}
{#                    {% endif %}#}
{#                {% endfor %}#}
{#                </tbody>#}
{#            </table>#}


        </div>
    </div>


{% endblock %}
